@model PersonAddRequest
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <h2 class="h3 text-center p-2 pb-0">Create new person</h2>
    <div>
        <a asp-controller="Person" asp-action="Index" class="btn text-danger pt-0 border-0"><i class="bi-arrow-left"></i> Back to persons list</a>
    </div>
    <hr class="border border-1 border-secondary m-0">
    <form asp-controller="Person" asp-action="Create" method="post">
        <div class="row mt-3">
            @* Person Name *@
            <div class="col">
                <label asp-for="PersonName" class="form-label">Person Name</label>
                <input asp-for="PersonName" placeholder="person name ..." class="form-control">
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>

            @* Person Email *@
            <div class="col">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" placeholder="example@email.com" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-3">
            @* Date of birth *@
            <div class="col">
                <label asp-for="DateOfBirth" class="form-label">Date of Birth</label>
                <input asp-for="DateOfBirth" class="form-control" type="date">
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            @* Country *@
            <div class="col">
                <label asp-for="CountryID" class="form-label">Country</label>
                <select asp-for="CountryID" class="form-select">
                    <option value=" " selected disabled>Select your country</option>
                    @foreach (CountryResponse country in ViewBag.countries)
                    {
                        <option value=@country.CountryID>@country.CountryName</option>
                    }
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>

            @* Person Gender  *@
            <div class="col">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    <option value=" " selected disabled>Select your gender</option>
                    <option value=@GenderOptions.Male>Male</option>
                    <option value=@GenderOptions.Female>Female</option>
                    <option value=@GenderOptions.Other>Other</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            @* Address *@
            <div class="col">
                <label asp-for="Address" class="form-label">Address</label>
                <textarea asp-for="Address" rows="10" class="form-control"></textarea>
            </div>
        </div>
        <div class="row mt-3">

            @* Receive News Letters *@
            <div class="col form-check ms-2">
                <input type="checkbox" asp-for="ReceiveNewsLetters" value="true" class="form-check-input">
                <label asp-for="ReceiveNewsLetters" class="form-check-label">Receive News Letters</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="d-grid gap-2 col-10 col-sm-6 col-md-4 mx-auto">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>

        @* server side validation *@
@*         @if (ViewBag.errors != null)
        {
            <div class="row mt-2 col-6 ">
                <ul class="alert alert-danger list-unstyled ms-2" role="alert">
                    @foreach (string error in ViewBag.errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        } *@

    </form>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
