@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.DESC)
{
    <th>
        <form asp-controller="Person" asp-action="Index" method="get">
            <input type="text" name="searchBy" value=@ViewBag.searchBy class="d-none" />
            <input type="text" name="searchString" value=@ViewBag.searchString class="d-none" />
            <input type="text" name="sortBy" value=@ViewBag.ColumnName class="d-none" />
            <input type="text" name="sortOrder" value=@nameof(SortOrderOptions.ASC) class="d-none" />
            <button class="btn border-0 fw-medium text-primary p-0">@ViewBag.DisplayName <i class="bi bi-caret-up-fill"></i></button>
        </form>
    </th>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.ASC)
{
    <th>
        <form asp-controller="Person" asp-action="Index" method="get">
            <input type="text" name="searchBy" value=@ViewBag.searchBy class="d-none" />
            <input type="text" name="searchString" value=@ViewBag.searchString class="d-none" />
            <input type="text" name="sortBy" value=@ViewBag.ColumnName class="d-none" />
            <input type="text" name="sortOrder" value=@nameof(SortOrderOptions.DESC) class="d-none" />
            <button class="btn border-0 fw-medium text-primary p-0">@ViewBag.DisplayName <i class="bi bi-caret-down-fill"></i></button>
        </form>
    </th>
}
else
{
    <th>
        <form asp-controller="Person" asp-action="Index" method="get">
            <input type="text" name="searchBy" value=@ViewBag.searchBy class="d-none" />
            <input type="text" name="searchString" value=@ViewBag.searchString class="d-none" />
            <input type="text" name="sortBy" value=@ViewBag.ColumnName class="d-none" />
            <input type="text" name="sortOrder" value=@nameof(SortOrderOptions.ASC) class="d-none" />
            <button class="btn border-0 fw-medium text-primary p-0">@ViewBag.DisplayName</button>
        </form>
    </th>
}
